:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: aliceblue;

  --primary-color: #272757;
  --secondary-color: #8686AC;
  --tertiary-color: #505081;
  --quarternary-color: #0f0e47;
}

body{
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  position: relative;

}

#root{
  width: 100vw;
  min-height: 100vh;
  top: 0;
  width: 100vw;
  background-color: var(--tertiary-color);
}


header{
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 30px;
}

ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

li{
  list-style: none;
}

li > a{
  padding: 5px 12px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 6px;
  border-left: 1px solid var(--secondary-color);
  transition: color 0.5s ease, font-size 0.5s ease-out;
}

a{
  text-decoration: none;
  color: aliceblue;
}

.active-link{
  font-size: 1.5rem;
  color: #b982e0;
}

footer{
  background-color: var(--quarternary-color);
  font-size: 11px;
  padding: 1px;
  text-align: center;
}



.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #803a9e;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; /* Center the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.not-found{
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}